section.page-section {
  position: relative;
  overflow: hidden;

  h2 {
    margin-bottom: 20px;
  }

  @include big {
    height: 100%;
    
    > .inner {
      display: table;
      width: 100%;
      height: 100%;

      > .content {
        display: table-cell;
        vertical-align: middle;  
      }
    }
  }
}

section.page-multi-section {
  @include big {
    position: relative;
    height: 300%;

    > section.page-section {
      height: (100% / 3);
      width: (100% * 2 / 3);
    }
  }

  ~ section.page-section {
    z-index: 102;
    transform: translateZ(0);
  }
}

section.intro-section {
  z-index: 101;

  > .inner {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  h1 {
    margin-bottom: 50px;
  }

  h4 {
    margin-bottom: 20px;
  }
}

section.features-section {
  .features-phone {
    background-image: url('../assets/images/iphone-frame.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 180px;
    height: 370px;
    margin: auto;
  }
}

section.about-section{
  .content{
    padding:25px 0;

    @include small{
      padding:100px 25px;
    }

    h1, p{
      max-width:825px;
    }

    h1{
      margin:0 auto 25px;
    }

    .founders{
      max-width:600px;
      margin:50px auto 75px;
      overflow:auto;

      .half{
        width:50%;

        img{
          margin-bottom:15px;
        }

        h4{
          .cred{
            display:inline-block;
            color:$honey-teal;
          }
        }

        &.michal{
          float:left;
        }

        &.rebecca{
          float:right;
        }
      }

      @include small{
        margin: 0 auto;

        .half{
          width:100%;
          margin: 35px 0;

          &.michal, &.rebecca{
            float:none;
          }
        }
      } 
    }

    .pledge{
      max-width:1140px;
      margin: 0 auto;

      .third{
        width:(100% / 3);
        display:inline-block;
        float:left;

        h3{
          margin:0 0 15px;
        }

        h5{
          width:90%;
        }
      }

      @include small{
        .third{
          width:100%;
          margin: 20px 0;
          float:none;
        }
      } 
    }
  }
}

footer.bottom {
  position: relative;
  min-height: 300px;
  z-index: 500;
  transform: translateZ(0);
  padding: 50px 25px;

  h5{
    color:white;
    max-width:1025px;
    font-weight:500;
    margin:25px auto 50px;

    &.copyright{
      opacity:.5;
      margin: 15px auto 0;
    }
  }

  .social{
    a{
      text-decoration:none;
      color:white;
      font-size:25px;
      margin:0 10px;
      transition:.25s ease;
      transform:scale(.85);

      &:hover{
        // opacity:.5;
        transform:scale(1);
      }
    }
  }
}

.bg-overlay {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  transform: translateZ(0);

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }

  &:before {
    background: $honey-overlay;
    z-index: -1;
  }

  &:after {
    background: inherit;
    opacity: 0;
    z-index: 1;
    transition: opacity 2000ms;
  }

  > .inner {
    position: relative;
    z-index: 2;
  }

  &.bg-loaded {
    &:after {
      opacity: .14;
    }
  }

  h1 {
    color: white;
  }

  h4 {
    color: $honey-orange;
  }
}

.bg-white {
  background: white;

  h1, h2, h4 {
    color: $honey-orange;
  }

  h3{
    color:$honey-teal;
  }
}

.bg-orange {
  background: $honey-orange;
  background: linear-gradient(to right, #FDB73B, #F59121);
}