.profile-slider-icons,
.dietitian-slider-photos {
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;

  .slider-item {
    margin: 0 10px;
  }
}

.dietitian-slider-photos {
  position: relative;

  .slider-item {
    width: (100% / 4);
    margin: auto;
    opacity: 0.5;

    &.is-selected {
      opacity: 1;
    }

    img {
      width: 100%;
    }
  }
}

.cycle {
  .cycle-item {
    display: none;

    &.active {
      display: block;
    }
  }
}