html {
  font-family: 'Open Sans', sans-serif;
  color: $honey-black;
}

h1,h2,h3,h4,h5,p,a{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  max-width: 600px;
  margin: auto;

  font-size: 55px;
  line-height: 62px;
  font-weight: 100;
}

h2 {
  max-width: 600px;
  margin: auto;

  font-size: 45px;
  line-height: 52px;
  font-weight: 300;
}

h3{
  font-size:21px;
  font-weight:500;
}

h4 {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: .125em;
  font-weight: 600;
  
  text-transform: uppercase;
}

h5 {
  max-width: 600px;
  margin: auto;
  font-size: 16px;
  line-height: 22px;
  font-weight: 100; 
}

p {
  max-width: 600px;
  margin: auto;
  font-size: 20px;
  line-height: 30px;
  font-weight: 100; 
}

em{
  font-style:italic;
}

.nav-link {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .125em;
  
  text-transform: uppercase;

  a {
    color: inherit;
    text-decoration: none;
    padding: 12px 20px;

    &.button {
      color: white;
      background: $honey-teal;
      border-radius: 10px;
    }
  }
}