$honey-orange: #F69523;
$honey-teal: #01A6AF;
$honey-black: #4A4A4A;
$honey-overlay: fade-out(#19243E, .14);

$gray-light: #EEEEEE;

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

$nav-height: 60px;

$break-md: 700px;
