$honey-orange: #F69523;
$honey-teal: #01A6AF;
$honey-black: #333333;
// $honey-overlay: fade-out(#19243E, .14);
$honey-overlay: #19243E;
$honey-grey:#F4F4F4;

$honey-easing: cubic-bezier(.55, .1, .25, .95);

$gray-light: #EEEEEE;

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

$nav-height: 60px;

$break-md: 700px;
$break-md-h: 500px;

$break-wide: 1500px;
$break-wide-max: ($break-wide - 1);

@mixin big {
  @media (min-width: $break-md) and (min-height: $break-md-h) {
    @content;
  }
}

@mixin med {
  @media (max-width: $break-wide) {
    @content;
  }
}

@mixin small {
  @media (max-width: ($break-md - 1)), (max-height: ($break-md-h - 1)) {
    @content;
  }
}

@mixin fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}