@import "reset";
@import "variables";
@import "type";
@import "nav";
@import "sections";
@import "flickity";
@import "sliders";
@import "images";

* {
  box-sizing: border-box;
}

html, body, main {
  position: relative;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  text-align: center;
  // background: lighten(black, 50%);
  // @include big {
  //   overflow: hidden;
  // }
}