<!doctype html>
<html>
  <head>
    <title>Honey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/honey.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="top-nav home">
      <div class="logo">
        <a href="#home" class="home-link">
        </a>
      </div>
      <nav>
        <ul class="section-links">
          <li><a href="#how-it-works">How It Works</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#about">About</a></li>
        </ul>
        <ul class="cta-links">
          <li><a href="#">Blog</a></li>
          <li><a href="#" class="button">Download</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="home" class="page-section intro-section bg-overlay" data-bg-src="assets/images/backgrounds/intro.jpg">
        <div class="inner">
          <div class="content">
            <h4><span>Real Nutrition.</span> <span>Real Dietitians.</span></h4>
            <h1>It's just like having a dietitian in your pocket</h1>
            <p><a href="#" class="app-store-link"><img src="assets/images/svg/button.svg" alt="Download on the App Store" /></a></p>
            <p><a href="#how-it-works" class="scroll-link"><img src="assets/images/svg/scroll.svg" alt="Scroll" /></a></p>
          </div>
        </div>
      </section>
      <div class="phone-frame-wrapper">
        {{#with "assets/images/screenshots/honeypot.jpg"}}
          {{> screenshot}}
        {{/with}}
      </div>
      <section id="how-it-works" class="page-multi-section">
        <section id="profile" class="page-section bg-white">
          <div class="section-photo" style="background-image: url('assets/images/backgrounds/profile.jpg');"></div>
          <div class="section-screenshot">
            {{#with "assets/images/screenshots/editprofile.jpg"}}
              {{> screenshot}}
            {{/with}}
          </div>
          <div class="inner">
            <div class="content">
              <h2>Customize your profile</h2>
              <p>Choose from nine different categories based on your interests to make your Honey experience unique.</p>
              <div class="profile-slider-icons">
                <div class="slider-item">
                  <div class="bite-icon">
                    <img src="assets/images/svg/bites/buzz2.svg">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="bite-icon">
                    <img src="assets/images/svg/bites/fertile2.svg">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="bite-icon">
                    <img src="assets/images/svg/bites/fit2.svg">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="bite-icon">
                    <img src="assets/images/svg/bites/healthy2.svg">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="bite-icon">
                    <img src="assets/images/svg/bites/hearty2.svg">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="bite-icon">
                    <img src="assets/images/svg/bites/kid2.svg">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="bite-icon">
                    <img src="assets/images/svg/bites/lite2.svg">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="bite-icon">
                    <img src="assets/images/svg/bites/sugar2.svg">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="bite-icon">
                    <img src="assets/images/svg/bites/tasty2.svg">
                  </div>
                </div>
              </div>
              <div class="cycle cycle-captions">
                <div class="cycle-item active">
                  <h4>Buzz</h4>
                  <p>All about exercise, strength, fitness, and endurance.</p>
                </div>
                <div class="cycle-item">
                  <h4>Fertility</h4>
                  <p>All about exercise, strength, fitness, and endurance.</p>
                </div>
                <div class="cycle-item">
                  <h4>Fit</h4>
                  <p>All about exercise, strength, fitness, and endurance.</p>
                </div>
                <div class="cycle-item">
                  <h4>Healthy</h4>
                  <p>All about exercise, strength, fitness, and endurance.</p>
                </div>
                <div class="cycle-item">
                  <h4>Hearty</h4>
                  <p>All about exercise, strength, fitness, and endurance.</p>
                </div>
                <div class="cycle-item">
                  <h4>Kid</h4>
                  <p>All about exercise, strength, fitness, and endurance.</p>
                </div>
                <div class="cycle-item">
                  <h4>Lite</h4>
                  <p>All about exercise, strength, fitness, and endurance.</p>
                </div>
                <div class="cycle-item">
                  <h4>Sugar</h4>
                  <p>All about exercise, strength, fitness, and endurance.</p>
                </div>
                <div class="cycle-item">
                  <h4>Tasty</h4>
                  <p>All about exercise, strength, fitness, and endurance.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="find-dietitians" class="page-section bg-white">
          <div class="section-photo" style="background-image: url('assets/images/backgrounds/find-dietitians.jpg');"></div>
          <div class="section-screenshot">
            {{#with "assets/images/screenshots/dietitian.jpg"}}
              {{> screenshot}}
            {{/with}}
          </div>
          <div class="inner">
            <div class="content">
              <h2>Find Registered Dietitians who are experts in your interest areas</h2>
              <p>Search through our vast database of Dietitians. Find the best ones for you, follow them and read their posts.</p>
              <div class="dietitian-slider-photos">
                <div class="slider-item">
                  <div class="dietitian-photo">
                    <img src="assets/images/dietitian1.png">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="dietitian-photo">
                    <img src="assets/images/dietitian2.png">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="dietitian-photo">
                    <img src="assets/images/dietitian3.png">
                  </div>
                </div>
                <div class="slider-item">
                  <div class="dietitian-photo">
                    <img src="assets/images/dietitian4.png">
                  </div>
                </div>
              </div>
              <div class="cycle cycle-captions">
                <div class="cycle-item active">
                  <h4>Jackie Topol, <span class="alt">MS, RD, CDN1</span></h4>
                  <p>Specialties include Culinary Nutrition and Oncology</p>
                </div>
                <div class="cycle-item">
                  <h4>Jackie Topol, <span class="alt">MS, RD, CDN2</span></h4>
                  <p>Specialties include Culinary Nutrition and Oncology</p>
                </div>
                <div class="cycle-item">
                  <h4>Jackie Topol, <span class="alt">MS, RD, CDN3</span></h4>
                  <p>Specialties include Culinary Nutrition and Oncology</p>
                </div>
                <div class="cycle-item">
                  <h4>Jackie Topol, <span class="alt">MS, RD, CDN4</span></h4>
                  <p>Specialties include Culinary Nutrition and Oncology</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="feed" class="page-section bg-white">
          <div class="section-photo" style="background-image: url('assets/images/backgrounds/feed.jpg');"></div>
          <div class="section-screenshot">
            {{#with "assets/images/screenshots/homefeed.jpg"}}
              {{> screenshot}}
            {{/with}}
          </div>
          <div class="inner">
            <div class="content">
              <h2>Tailor your home feed</h2>
              <p>Every day your feed will fill itself with highly curated and customized nutrition information from Honey and each of the dietitians you follow.</p>
              <div class="did-you-know">
                <h4>Did you know?</h4>
                <div class="cycle cycle-shuffle">
                  <div class="cycle-item active">
                    <p>Half a cup of pumpkin seeds have about 14 grams of protein and are a great pre-workout snack.</p>
                  </div>
                  <div class="cycle-item">
                    <p>Every day your feed will fill itself with highly curated and customized nutrition information from Honey and each of the dietitians you follow.</p>
                  </div>
                  <div class="cycle-item">
                    <p>Search through our vast database of Dietitians.</p>
                  </div>
                </div>
                <button class="cycle-shuffle-button">Next</button>
              </div>
            </div>
          </div>
        </section>
      </section>
      <section id="features" class="page-section features-section bg-white">
        <div class="inner">
          <div class="content">
          <div class="features-phone">
              <div class="features-phone-screenshot">
                <img src="assets/images/screenshots/homefeed.jpg" />
              </div>
              <div class="features-phone-screenshot active">
                <img src="assets/images/screenshots/editprofile.jpg" />
              </div>
              <div class="features-phone-screenshot">
                <img src="assets/images/screenshots/honeypot.jpg" />
              </div>
              <div class="features-phone-screenshot">
                <img src="assets/images/screenshots/dietitian.jpg" />
              </div>
            </div>
            <div class="features-content">
              <div class="features-content-item">
                <h3>Bite of the Day</h3>
                <p>Save any bite to your hive and you'll be able to access it quickly whenever you need.</p>
              </div>
              <div class="features-content-item active">
                <h3>The Hive</h3>
                <p>Save any bite to your hive and you'll be able to access it quickly whenever you need.</p>
              </div>
              <div class="features-content-item">
                <h3>Honey Pot</h3>
                <p>Save any bite to your hive and you'll be able to access it quickly whenever you need.</p>
              </div>
              <div class="features-content-item">
                <h3>Best Bite</h3>
                <p>Save any bite to your hive and you'll be able to access it quickly whenever you need.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="about" class="page-section bg-white">
        <div class="inner">
          <div class="content">
            <h1>Think Honey. <em>It&rsquo;s that simple.</em></h1>
            <p>We are busy, hard working moms who also happen to be premier trained and highly experienced Registered Dietitians in the city that never sleeps. Having spent nearly 15 years privately counseling individuals and families to meet their nutrition and wellness goals, we began thinking of all the ways we could provide the same level of customized care in a more accessible and affordable way, without that big apple price tag.</p>
          </div>
        </div>
      </section>
      <footer class="bottom bg-orange">

      </footer>
    </main>
    <aside id="side-nav">
      <ul class="indicators">
        <li><a href="#how-it-works">{{> indicator-svg}}</a>
          <ul>
            <li><a href="#profile">{{> indicator-svg}}</a></li>
            <li><a href="#find-dietitians">{{> indicator-svg}}</a></li>
            <li><a href="#feed">{{> indicator-svg}}</a></li>
          </ul>
        </li>
        <li><a href="#features">{{> indicator-svg}}</a></li>
        <li><a href="#about">{{> indicator-svg}}</a></li>
      </ul>
    </aside>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="scripts/honey.js"></script>
  </body>
</html>