<!doctype html>
<html>
  {{> head}}
  <body class="at-home at-top">
    <header class="top-nav home">
      <div class="logo">
        <a href="#home" class="home-link">
        </a>
      </div>
      <nav>
        <ul class="section-links">
          <li><a href="#how-it-works">How It Works</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#about">About</a></li>
        </ul>
        <ul class="cta-links">
          <!-- <li><a href="#">Blog</a></li> -->
          <!-- <li><a href="#" class="button">Download</a></li> -->
        </ul>
      </nav>
    </header>
    <div class="info">
      <div class="profile">
        <h1>Michal Hertz</h1>
      </div>
      <div class="bio">
      </div>
    </div>
  </body>
</html>   