<!doctype html>
<html>
  <head>
    <title>Honey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/honey.css?v={{package.version}}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="icon" href="assets/images/favico.ico" type="image/x-icon">
    <link rel="shortcut icon" href="assets/images/favico.ico" type="image/x-icon">
  </head>
  <body class="at-home">
    <header class="top-nav home">
      <div class="logo">
        <a href="#home" class="home-link">
        </a>
      </div>
      <nav>
        <ul class="section-links">
          <li><a href="#how-it-works">How It Works</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#about">About</a></li>
        </ul>
        <ul class="cta-links">
          <li><a href="#" class="button">Download</a></li>
        </ul>
      </nav>
    </header>
    <div class="info">
      <div class="profile">
        <div class="profile-photo" style="background-image:url(assets/images/profile/michal.jpg)">
          <div class="overlay">
           <img src="assets/images/profile/profile-overlay.png" alt="profileoverlay" />
          </div>
        </div>
        <h2>Michal Hertz</h2>
        <h4>MA, RD, CDN  ·  NEW YORK, NY</h4>
        <span class="line"></span>
        <a href="" class="alt-button"><h4>Follow on Honey</h4></a>
        <a href=""><p>View Website <span class="fa fa-long-arrow-right"></span></p></a>
      </div>
      <div class="bio">
        <h4>About Michal</h4>
        <p>I am a busy, hard working mom who also happens to be a premier trained and highly experienced Registered Ditetitian in the city that never sleeps. Having spent nearly 15 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id velit quam. Ut aliquam dapibus facilisis. Nulla dictum felis vel eros dapibus pharetra. Donec laoreet cursus venenatis. Ut aliquam dapibus facilisis. 
        <br><br>
        Having spent nearly 15 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum felis vel eros dapibus pharetra. Donec laoreet cursus venenatis. Ut aliquam dapibus facilisis. 
      </p>
      <span class="line"></span>
      </div>
    </div>
  </body>
</html>   