<!doctype html>
<html>
  {{> head}}
  <body class="at-home">
    <header class="top-nav home">
      <div class="logo">
        <a href="/index.html" class="home-link">
        </a>
      </div>
      <nav>
        <ul class="section-links">
          <li>
            <form>
              <input type="text" name="search" placeholder="Search Honey...">
              <button value="" type="submit" class="fa fa-search"></button>
            </form>
          </li>
        </ul>
        <ul class="cta-links">
          <li><a href="#" class="button">Download App</a></li>
        </ul>
      </nav>
    </header>

    <section class="profile-page">

      <div class="info">
        <div class="profile">
          <div class="profile-photo" style="background-image:url(assets/images/profile/michal.jpg)">
            <div class="overlay">
             <img src="assets/images/profile/profile-overlay.png" alt="profileoverlay" />
            </div>
          </div>
          <h2>Michal Hertz</h2>
          <h4>MA, RD, CDN  ·  NEW YORK, NY</h4>
          <span class="line"></span>
          <a href="" class="alt-button"><h4>Follow on Honey</h4></a>
          <a href=""><p>View Website <span class="fa fa-long-arrow-right"></span></p></a>
        </div>
        <div class="about">
          <div class="bio">
            <h4>About Michal</h4>
            <p>We are busy, hard working moms who also happen to be premier trained and highly experienced Registered Dietitians in the city that never sleeps. Having spent nearly 15 years privately counseling individuals and families to meet their nutrition and wellness goals, we began thinking of all the ways we could provide the same level of customized care in a more accessible and affordable way, without that big apple price tag.
            <br><br>
            We know that nutrition is the best form of preventative medicine. You want the facts, but finding them, understanding them, and using them on a daily basis is just not effective without expert guidance.
            </p>
          </div>
          <span class="line"></span>
          <div class="expertise">
            <h4>Expertise</h4>
            <ul class="tags">
              <li>
                <img src="assets/images/svg/bites/kid.svg"/>
                <h4>Kid</h4>
              </li>
              <li>
                <img src="assets/images/svg/bites/healthy.svg"/>
                <h4>Healthy</h4>
              </li>
              <li>
                <img src="assets/images/svg/bites/fit.svg"/>
                <h4>Fit</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="posts">
        <div class="post-container">

          <div class="posts-info">
            <div class="title">
              <h4>Michal's Posts</h4>
            </div>
            <div class="stats">
              <h4>256 <span>Posts</span></h4>
              <h4><img src="assets/images/profile/verified.svg" alt="verified-post"/> 25 <span>Verified Posts</span></h4>
              <h4>174 <span>Followers</span></h4>
            </div>
          </div>

          <div class="grid js-masonry" data-masonry-options='{ "itemSelector": ".grid-item", "gutter": ".gutter-sizer", "percentPosition": "true", "isOriginLeft": "true"}'>
          <div class="gutter-sizer"></div>
          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/400/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->

          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/550/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->

          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/400/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->

          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/500/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->

          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/450/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->

          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/400/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->

          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/600/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->

          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/400/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->

          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/500/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->

          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/400/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->


          <!-- POST START -->

            <div class="grid-item">

              <span class="bar"></span>
              <div class="post-title">
                <p>Recipe</p>
                <h4>2h</h4>
              </div>

              <div class="post-img">
                <img src="http://lorempixel.com/600/450/">
              </div>

              <div class="caption">
                <p>Tolerant organic black bean penne is a must try. This organic, non-gmo, gluten-free pasta is made of 100% black bean…</p>
              </div>

              <ul class="post-tags">
                <li>
                  <img src="assets/images/svg/bites/kid.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/healthy.svg"/>
                </li>
                <li>
                  <img src="assets/images/svg/bites/fit.svg"/>
                </li>
                <span class="line"></span>
              </ul>

              <div class="caption comments">
                <p>130 Yums</p>
                <p>15 Comments</p>
              </div>

            </div>

          <!-- POST END -->

          </div>
          
          <!-- This should only appear when there are more than 12 posts loaded. -->
          <div class="load">  
            <a href="" class="alt-button"><h4>Load More Posts</h4></a>
          </div>
          <!-- End Load More button -->

        </div>
      </div>

    </section>

    <footer class="bottom bg-orange">
        <img src="assets/images/svg/honeylogo-white.svg">

        <div class="newsletter">

          <h3>Join our newsletter for Honey updates.</h3>

          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="//thinkhoney.us11.list-manage.com/subscribe/post?u=ba88915c2fd5bc768e85aade2&amp;id=2af64e6f02" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            
          <div class="mc-field-group">
            <input type="email" placeholder="Email Address" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_ba88915c2fd5bc768e85aade2_2af64e6f02" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="&#xf178"  name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>

          <!--End mc_embed_signup-->

        </div>


        <h5>Thanks to our clients, families and friends for inspiring Honey. The questions you've asked in our offices, at our holiday meals, in the hallways at school and on the soccer sidelines helped bring Honey to life! Now it's our turn to deliver. We will strive to take the highly specialized nutrition care you deserve and deliver it straight to your pocket daily.</h5>

        <div class="social">
          <a href="http://www.facebook.com/HoneyDietitianonDemand" class="fa fa-facebook" target="_blank"></a>
          <a href="http://instagram.com/think.honey/" class="fa fa-instagram" target="_blank"></a>
          <a href="http://twitter.com/thinkhoney" class="fa fa-twitter" target="_blank"></a>
           <a href="mailto:info@thinkhoney.com" class="fa fa-envelope" target="_blank"></a>
        </div>

        <h5 class="copyright">Want to get in touch? <a href="mailto:info@thinkhoney.com" target="_blank">Contact Us</a>  <br> &copy;2015 Think Honey, LLC. All rights reserved.   &nbsp; |  &nbsp; Site by <a href="http://together-creative.com" target="_blank">Together</a></h5>
      </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <script>
      $('.grid-item img').on('load', function() {
        $('.js-masonry').masonry();
      });
    </script>
  </body>
</html>   