/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h4, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: none; }

html {
  font-family: 'Open Sans', sans-serif;
  color: #333333; }

h1, h2, h3, h4, h5, p, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  max-width: 600px;
  margin: auto;
  font-size: 55px;
  line-height: 1.2;
  font-weight: 100; }
  @media (max-width: 1500px) {
    h1 {
      font-size: 45px; } }
  @media (max-width: 699px), (max-height: 499px) {
    h1 {
      font-size: 40px; } }

h2 {
  max-width: 800px;
  margin: auto;
  font-size: 45px;
  line-height: 1.2;
  font-weight: 300; }
  @media (max-width: 1500px) {
    h2 {
      font-size: 35px;
      max-width: 650px; } }
  @media (max-width: 699px), (max-height: 499px) {
    h2 {
      font-size: 28px; } }

h3 {
  font-size: 21px;
  font-weight: 500; }
  @media (max-width: 1500px) {
    h3 {
      font-size: 18px; } }

h4 {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: .125em;
  font-weight: 600;
  text-transform: uppercase; }
  h4 .cred {
    display: inline-block;
    color: #c46e08; }

h5 {
  max-width: 600px;
  margin: auto;
  font-size: 16px;
  line-height: 22px;
  font-weight: 100; }

p {
  max-width: 600px;
  margin: auto;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 100; }
  @media (max-width: 1500px) {
    p {
      font-size: 18px; } }

p.small, section.features-section .features-content p, .cycle .cycle-item p {
  font-size: 16px;
  line-height: 23px; }

em {
  font-style: italic; }

.nav-link, header.top-nav ul li {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .125em;
  text-transform: uppercase; }
  .nav-link a, header.top-nav ul li a {
    color: inherit;
    text-decoration: none;
    padding: 12px 15px;
    -webkit-transition: .5s ease;
            transition: .5s ease; }
    .nav-link a:hover, header.top-nav ul li a:hover {
      color: #01A6AF; }
    .nav-link a.button, header.top-nav ul li a.button {
      color: white;
      background: #01A6AF;
      border-radius: 10px;
      padding: 12px 20px;
      -webkit-transition: .5s ease;
              transition: .5s ease; }
      .nav-link a.button:hover, header.top-nav ul li a.button:hover {
        background: #01767c; }

header.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  header.top-nav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    z-index: -1; }
  header.top-nav .logo {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../assets/images/svg/honeylogosmall.svg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 699px), (max-height: 499px) {
      header.top-nav .logo {
        margin-left: 20px; } }
    header.top-nav .logo a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  header.top-nav .section-links {
    float: left;
    text-align: left; }
    @media (max-width: 699px), (max-height: 499px) {
      header.top-nav .section-links {
        display: none; } }
  header.top-nav .cta-links {
    float: right;
    text-align: right; }
  header.top-nav ul {
    padding: 0 10px; }
    header.top-nav ul li {
      display: inline-block;
      vertical-align: middle; }
    header.top-nav ul:before {
      content: '';
      width: 0px;
      height: 60px;
      display: inline-block;
      vertical-align: middle; }
  .at-top header.top-nav:before {
    opacity: 0; }
  .at-top header.top-nav nav {
    opacity: 0;
    pointer-events: none; }
  .at-top header.top-nav .logo {
    top: 50px;
    width: 110px;
    height: 110px;
    margin: auto;
    background-image: url("../assets/images/svg/honeylogo.svg"); }
    .at-top header.top-nav .logo a {
      cursor: default; }
  header.top-nav:before {
    -webkit-transition: opacity 250ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
            transition: opacity 250ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
  header.top-nav nav {
    -webkit-transition: opacity 250ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
            transition: opacity 250ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
  header.top-nav .logo {
    -webkit-transition: 250ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
            transition: 250ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }

.indicators {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  text-align: center;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: white; }
  .indicators li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    overflow: hidden; }
    .indicators li > a {
      position: relative;
      display: block;
      width: 30px;
      height: 30px; }
      .indicators li > a .indicator-dot {
        fill: rgba(155, 155, 155, 0.25);
        -webkit-transition: fill 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
                transition: fill 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
      .indicators li > a:hover .indicator-dot {
        fill: #6e6e6e; }
    .indicators li.active {
      font-weight: bold; }
      .indicators li.active > a .indicator-dot {
        fill: #F69523; }
  .indicators > li.multi {
    -webkit-transition: 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
            transition: 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
    -webkit-transition-property: height, background;
            transition-property: height, background; }
    .indicators > li.multi > a {
      display: none; }
    .indicators > li.multi.active {
      height: 90px;
      background-color: #EEEEEE; }
      .indicators > li.multi.active li {
        background: none; }
  @media (max-width: 699px), (max-height: 499px) {
    .indicators {
      display: none; } }

section.page-section {
  position: relative; }
  @media (max-width: 699px), (max-height: 499px) {
    section.page-section {
      padding: 0 0 75px; } }
  @media (max-width: 699px), (max-height: 499px) {
    section.page-section.intro-section {
      padding: 0; } }
  section.page-section h2 {
    margin-bottom: 20px; }
  section.page-section .content {
    padding: 0 25px; }
  @media (min-width: 700px) and (min-height: 500px) {
    section.page-section {
      display: table;
      width: 100%;
      height: 100%; }
      section.page-section > .inner {
        display: table-cell;
        vertical-align: middle; } }

section.page-multi-section .content {
  padding: 0 25px;
  width: 85%; }
  @media (max-width: 699px), (max-height: 499px) {
    section.page-multi-section .content {
      width: 100%; } }

@media (min-width: 700px) and (min-height: 500px) {
  section.page-multi-section {
    position: relative;
    height: 300%; }
    section.page-multi-section > section.page-section {
      height: 33.33333%;
      width: 66.66667%; }
      section.page-multi-section > section.page-section > .inner > .content {
        padding-left: 100px;
        padding-right: 100px; } }
      @media (min-width: 700px) and (min-height: 500px) and (max-width: 1499px) {
        section.page-multi-section > section.page-section > .inner > .content {
          padding-left: 50px;
          padding-right: 50px; } }

section.page-multi-section ~ section.page-section {
  z-index: 102;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

section.intro-section {
  z-index: 101; }
  section.intro-section > .inner {
    padding-top: 200px;
    padding-bottom: 200px; }
  section.intro-section h1 {
    margin-bottom: 50px; }
  section.intro-section h4 {
    margin-bottom: 20px; }
  section.intro-section .app-store-link {
    background: #F69523;
    border-radius: 10px;
    padding: 20px 25px 22px;
    cursor: pointer;
    -webkit-transition: .25s ease;
            transition: .25s ease; }
    section.intro-section .app-store-link:hover {
      background: #f5890b;
      box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15); }
    section.intro-section .app-store-link img {
      max-width: 150px;
      vertical-align: middle; }
  section.intro-section .scroll-link {
    margin: 75px 0 0;
    display: inline-block;
    -webkit-animation: fade 2s infinite;
            animation: fade 2s infinite; }

@-webkit-keyframes fade {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: .35; } }

@keyframes fade {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: .35; } }

section.feed-section .inner .content .did-you-know {
  margin: 60px auto 0;
  max-width: 400px; }
  section.feed-section .inner .content .did-you-know h4 {
    margin: 0 0 5px; }
  section.feed-section .inner .content .did-you-know .cycle-shuffle-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #01A6AF;
    margin: 10px 0 0;
    -webkit-transition: .5s ease;
            transition: .5s ease;
    cursor: pointer; }
    section.feed-section .inner .content .did-you-know .cycle-shuffle-button:hover {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    section.feed-section .inner .content .did-you-know .cycle-shuffle-button:focus {
      outline: none; }

section.features-section h2 {
  margin-bottom: 40px; }

section.features-section .content {
  position: relative;
  padding: 100px 0; }
  @media (max-width: 699px), (max-height: 499px) {
    section.features-section .content {
      padding: 75px 0 0; } }

section.features-section .features-content {
  max-width: 1100px;
  margin: auto;
  overflow: hidden; }
  @media (min-width: 700px) and (min-height: 500px) {
    section.features-section .features-content {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }
  section.features-section .features-content:after {
    display: none; }
  @media (max-width: 699px), (max-height: 499px) {
    section.features-section .features-content:after {
      content: 'flickity'; } }
  section.features-section .features-content h3 {
    line-height: 1px; }
  @media (max-width: 699px), (max-height: 499px) {
    section.features-section .features-content p {
      max-width: 75%; } }
  @media (min-width: 700px) and (min-height: 500px) {
    section.features-section .features-content .features-content-item {
      float: left;
      clear: left;
      text-align: right;
      padding-left: 20px;
      padding-right: 20px;
      width: 33.33333%;
      cursor: pointer;
      margin: 15px 0; }
      section.features-section .features-content .features-content-item h3, section.features-section .features-content .features-content-item p {
        opacity: .3;
        -webkit-transition: 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
                transition: 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
        position: relative; }
      section.features-section .features-content .features-content-item h3:after {
        content: url("../assets/images/line-L.svg");
        position: absolute;
        right: -15%;
        top: -4px;
        opacity: 0;
        -webkit-transition: 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
                transition: 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95); } }
    @media (min-width: 700px) and (min-height: 500px) and (max-width: 1060px) {
      section.features-section .features-content .features-content-item h3:after {
        display: none; } }
  @media (min-width: 700px) and (min-height: 500px) {
      section.features-section .features-content .features-content-item:hover h3, section.features-section .features-content .features-content-item:hover p {
        opacity: 1; }
      section.features-section .features-content .features-content-item.active h3, section.features-section .features-content .features-content-item.active p {
        opacity: 1; }
      section.features-section .features-content .features-content-item.active h3:after {
        right: -19.5%;
        opacity: 1; }
      section.features-section .features-content .features-content-item:nth-child(odd) {
        float: right;
        clear: right;
        text-align: left; }
        section.features-section .features-content .features-content-item:nth-child(odd) h3:after {
          content: url("../assets/images/line-R.svg");
          left: -15%; }
        section.features-section .features-content .features-content-item:nth-child(odd).active h3:after {
          left: -19.5%;
          opacity: 1; } }
  @media (max-width: 699px), (max-height: 499px) {
    section.features-section .features-content .features-content-item {
      width: 100%; } }

section.features-section .features-phone {
  margin: auto;
  max-width: 250px; }
  section.features-section .features-phone .features-phone-screenshot {
    opacity: 0;
    -webkit-transition: 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
            transition: 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
    section.features-section .features-phone .features-phone-screenshot.active {
      opacity: 1; }

section.about-section .content {
  padding: 100px 0; }
  @media (max-width: 699px), (max-height: 499px) {
    section.about-section .content {
      padding: 100px 25px 0; } }
  section.about-section .content h1, section.about-section .content p {
    max-width: 825px; }
  section.about-section .content h1 {
    margin: 0 auto 25px; }
  section.about-section .content .founders {
    max-width: 600px;
    margin: 50px auto 75px;
    overflow: auto; }
    section.about-section .content .founders .half {
      width: 50%; }
      section.about-section .content .founders .half img {
        margin-bottom: 15px; }
      section.about-section .content .founders .half.michal {
        float: left; }
      section.about-section .content .founders .half.rebecca {
        float: right; }
    @media (max-width: 699px), (max-height: 499px) {
      section.about-section .content .founders {
        margin: 0 auto; }
        section.about-section .content .founders .half {
          width: 100%;
          margin: 35px 0; }
          section.about-section .content .founders .half.michal, section.about-section .content .founders .half.rebecca {
            float: none; } }
  section.about-section .content .pledge {
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden; }
    section.about-section .content .pledge .third {
      width: 33.33333%;
      display: inline-block;
      float: left; }
      section.about-section .content .pledge .third h3 {
        margin: 0 0 15px; }
      section.about-section .content .pledge .third h5 {
        width: 90%; }
    @media (max-width: 699px), (max-height: 499px) {
      section.about-section .content .pledge .third {
        width: 100%;
        margin: 20px 0;
        float: none; } }

footer.bottom {
  position: relative;
  min-height: 300px;
  z-index: 500;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  padding: 50px 25px; }
  footer.bottom h5 {
    color: white;
    max-width: 1025px;
    font-weight: 500;
    margin: 25px auto 50px; }
    footer.bottom h5.copyright {
      opacity: .5;
      margin: 15px auto 0; }
  footer.bottom .social a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0 10px;
    -webkit-transition: .25s ease;
            transition: .25s ease;
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85); }
    footer.bottom .social a:hover {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }

.bg-overlay {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .bg-overlay:before, .bg-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .bg-overlay:before {
    background: #19243E;
    z-index: -1; }
  .bg-overlay:after {
    background: inherit;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 2000ms;
            transition: opacity 2000ms; }
  .bg-overlay > .inner {
    position: relative;
    z-index: 2; }
  .bg-overlay.bg-loaded:after {
    opacity: .14; }
  .bg-overlay h1 {
    color: white; }
  .bg-overlay h4 {
    color: #F69523; }

.bg-white {
  background: white; }
  .bg-white h1, .bg-white h2, .bg-white h4 {
    color: #F69523; }
  .bg-white h3 {
    color: #01A6AF; }

.bg-grey {
  background: #F4F4F4; }
  .bg-grey h1, .bg-grey h2, .bg-grey h4 {
    color: #F69523; }
  .bg-grey h3 {
    color: #01A6AF; }

.bg-orange {
  background: #F69523;
  background: -webkit-linear-gradient(left, #FDB73B, #F59121);
  background: linear-gradient(to right, #FDB73B, #F59121); }

/*! Flickity v1.0.2
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 80px;
  border: 0 solid rgba(151, 151, 151, 0.25);
  background: white;
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover svg {
  opacity: 0.5; }

.flickity-prev-next-button:focus {
  outline: none; }

.flickity-prev-next-button:active svg {
  opacity: 1; }

.flickity-prev-next-button.previous {
  left: 0;
  border-right-width: 1px; }

.flickity-prev-next-button.next {
  right: 0;
  border-left-width: 1px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30);
  /* IE8 */
  opacity: 0.3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  opacity: 0.25; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25);
  /* IE8 */
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100);
  /* IE8 */
  opacity: 1; }

/*Features Arrows*/
section.features-section {
  /* right to left */ }
  section.features-section .flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 80px;
    border: none;
    background: transparent;
    cursor: pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  section.features-section .flickity-prev-next-button:hover svg {
    opacity: 0.5; }
  section.features-section .flickity-prev-next-button:focus {
    outline: none; }
  section.features-section .flickity-prev-next-button:active svg {
    opacity: 1; }
  section.features-section .flickity-prev-next-button.previous {
    left: 0;
    border-right-width: 1px; }
  section.features-section .flickity-prev-next-button.next {
    right: 0;
    border-left-width: 1px; }
  section.features-section .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px; }
  section.features-section .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px; }
  section.features-section .flickity-prev-next-button:disabled {
    filter: alpha(opacity=30);
    /* IE8 */
    opacity: 0.3;
    cursor: auto; }
  section.features-section .flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    opacity: 0.25; }
  section.features-section .flickity-prev-next-button .arrow {
    fill: #333; }

.profile-slider-icons,
.dietitian-slider-photos {
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px; }
  .profile-slider-icons .slider-item,
  .dietitian-slider-photos .slider-item {
    margin: 0 10px;
    cursor: pointer; }
    .profile-slider-icons .slider-item.dietitian,
    .dietitian-slider-photos .slider-item.dietitian {
      -webkit-transition: 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
              transition: 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
      .profile-slider-icons .slider-item.dietitian:hover,
      .dietitian-slider-photos .slider-item.dietitian:hover {
        opacity: 1; }

.profile-slider-icons {
  margin-top: 30px;
  margin-bottom: 10px; }
  .profile-slider-icons .slider-item {
    margin: 20px 20px;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
            transition: transform 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
  .profile-slider-icons .bite-icon {
    position: relative;
    width: 60px;
    height: 60px;
    -webkit-transition: opacity 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
            transition: opacity 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
    .profile-slider-icons .bite-icon:hover {
      opacity: .5; }
    .profile-slider-icons .bite-icon img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      -webkit-transition: opacity 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
              transition: opacity 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
      .profile-slider-icons .bite-icon img.fill {
        opacity: 0; }
  .profile-slider-icons .slider-item.is-selected {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4); }
    .profile-slider-icons .slider-item.is-selected .bite-icon:hover {
      opacity: 1; }
    .profile-slider-icons .slider-item.is-selected .bite-icon img.outline {
      opacity: 0; }
    .profile-slider-icons .slider-item.is-selected .bite-icon img.fill {
      opacity: 1; }

.dietitian-slider-photos {
  position: relative; }
  .dietitian-slider-photos .slider-item {
    width: 25%;
    margin: auto;
    padding: 0 20px;
    opacity: 0.5;
    -webkit-transition: opacity 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
            transition: opacity 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
    @media (max-width: 1499px) {
      .dietitian-slider-photos .slider-item {
        padding: 0 15px; } }
    .dietitian-slider-photos .slider-item.is-selected {
      opacity: 1; }
    .dietitian-slider-photos .slider-item img {
      width: 100%; }

.cycle {
  position: relative; }
  .cycle .cycle-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
            transition: opacity 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
    .cycle .cycle-item p {
      max-width: 400px; }
    .cycle .cycle-item.active {
      position: relative;
      opacity: 1; }

.phone-frame {
  position: relative;
  background-image: url("../assets/images/iphone-frame.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  max-width: 350px; }
  .phone-frame:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-top: 210%; }
  .phone-frame .phone-screen {
    position: absolute;
    top: 11%;
    bottom: 14.4%;
    left: 7%;
    right: 7%;
    overflow: hidden; }
    .phone-frame .phone-screen img {
      width: 100%; }

body.at-home .phone-frame-wrapper .phone-frame .phone-screen img {
  opacity: 1; }

.phone-frame-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 33.33333%;
  width: 200px;
  margin: auto;
  z-index: 101;
  pointer-events: none;
  right: 50%;
  width: 350px; }
  .phone-frame-wrapper img {
    opacity: 0; }
  .past-multi .phone-frame-wrapper {
    position: absolute;
    -webkit-transform: translateY(300%);
        -ms-transform: translateY(300%);
            transform: translateY(300%); }
  .phone-frame-wrapper .phone-frame {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    -webkit-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: translateX(50%) translateY(-50%);
        -ms-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%); }
    .in-multi .phone-frame-wrapper .phone-frame,
    .past-multi .phone-frame-wrapper .phone-frame {
      visibility: hidden; }
  .phone-frame-wrapper .phone-frame {
    top: 100%;
    -webkit-transform: translateX(50%) translateY(-140px);
        -ms-transform: translateX(50%) translateY(-140px);
            transform: translateX(50%) translateY(-140px); }
  @media (max-width: 699px), (max-height: 499px) {
    .phone-frame-wrapper {
      display: none; } }

.features-phone-wrapper .phone-frame {
  margin: auto; }

.section-photo {
  position: relative;
  height: 240px;
  background: #F69523;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  @media (min-width: 700px) and (min-height: 500px) {
    .section-photo {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      width: 33.33333%;
      height: auto;
      opacity: 0;
      -webkit-transition: opacity 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95);
              transition: opacity 500ms cubic-bezier(0.55, 0.1, 0.25, 0.95); }
      .past-multi .section-photo {
        position: absolute;
        right: auto;
        left: 100%;
        width: 50%;
        opacity: 1; } }
  .page-section.active .section-photo {
    opacity: 1; }

.section-screenshot {
  position: relative;
  margin: auto;
  pointer-events: none; }
  @media (max-width: 699px), (max-height: 499px) {
    .section-screenshot {
      max-width: 180px;
      height: 300px;
      margin-top: -180px;
      margin-bottom: 90px;
      z-index: 3; } }
  @media (min-width: 700px) and (min-height: 500px) {
    .section-screenshot {
      position: fixed;
      top: 60px;
      bottom: 0;
      right: 33.33333%;
      width: 33.33333%;
      max-width: 200px;
      margin: auto;
      z-index: 100; }
      .past-multi .section-screenshot {
        position: absolute;
        width: 200px;
        right: 0;
        opacity: 1;
        z-index: 101; }
      .at-home .section-screenshot {
        opacity: 0 !important; }
      .page-section.active .section-screenshot {
        z-index: 101; }
      .section-screenshot .phone-frame {
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        -webkit-transform: translateX(50%) translateY(-50%);
            -ms-transform: translateX(50%) translateY(-50%);
                transform: translateX(50%) translateY(-50%); } }

.founders .half img {
  width: 140px; }

footer.bottom img {
  max-width: 125px; }

* {
  box-sizing: border-box; }

html, body, main {
  position: relative;
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

html {
  text-align: center; }

/*# sourceMappingURL=honey.css.map */